<svg
  class="draggable-container"
  xmlns="http://www.w3.org/2000/svg"
  ng-mousedown="mouseDown($event)"
  ng-mousemove="mouseMove($event)"
  >
  <defs>
    <linearGradient
      spreadMethod="pad"
      y2="0"
      x2="0"
      y1="1"
      x1="0"
      id="nodeBackgroundGradient"
      >
      <stop
        offset="0"
        stop-opacity="0.99609"
        stop-color="#C0DFEB"
        />
        <stop
        offset="0.63934"
        stop-opacity="0.99219"
        stop-color="#CEE4ED"
        />
    </linearGradient>
  </defs>
  <g
    ng-repeat="node in chart.nodes"
    ng-mousedown="nodeMouseDown($event, node)"
    ng-attr-transform="translate({{node.x()}}, {{node.y()}})"
    >
    <g class="{{(node.type() != 'andx') ? 'show' : 'hide'}}">
        <rect
          ng-attr-class="{{(node.type() != 'andx') ? (node.selected() && 'selected-node-rect' || (node == mouseOverNode && 'mouseover-node-rect' || 'node-rect')) : 'hide'}}"
          ry="10"
          rx="10"
          x="0"
          y="0"
          cursor="pointer"
          ng-attr-width="{{node.width()}}"
          ng-attr-height="{{node.height()}}"
          fill="url(#nodeBackgroundGradient)"
          >
        </rect>

        <text
          ng-attr-x="{{node.width()/2}}"
          ng-attr-y="{{node.height()/2}}"
          cursor="pointer"
          text-anchor="middle"
          font-weight="bold"
          alignment-baseline="middle"
          >
          {{node.label()}}
        </text>

        <g
          ng-repeat="connector in node.inputConnectors"
          ng-mousedown="connectorMouseDown($event, node, connector, $index, true)"
          class="connector input-connector"
          >
          <circle
            ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector-circle' || 'connector-circle'}}"
            ng-attr-r="{{connectorSize}}"
            ng-attr-cx="{{connector.x()}}"
            ng-attr-cy="{{connector.y()}}"
            />
        </g>

        <g
          ng-repeat="connector in node.outputConnectors"
          >
          <text
            ng-attr-x="{{connector.x() - 20}}"
            ng-attr-y="{{connector.y()}}"
            cursor="pointer"
            text-anchor="end"
            alignment-baseline="middle"
            >
            {{connector.label()}}
          </text>
        </g>

        <g
          ng-repeat="connector in node.inputConnectors"
          >
          <text
            ng-attr-x="{{connector.x() + 20}}"
            ng-attr-y="{{connector.y()}}"
            cursor="pointer"
            text-anchor="left"
            alignment-baseline="middle"
            >
            {{connector.label()}}
          </text>
        </g>

        <g
          ng-repeat="connector in node.outputConnectors"
          ng-mousedown="connectorMouseDown($event, node, connector, $index, false)"
          class="connector output-connector"
          >
          <circle
            ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector-circle' || 'connector-circle'}}"
            ng-attr-r="{{connectorSize}}"
            ng-attr-cx="{{connector.x()}}"
            ng-attr-cy="{{connector.y()}}"
            />
        </g>
    </g>

   <!-- AND GATE -->
    <g
        class="{{(node.type() == 'andx') ? 'show' : 'hide'}}"
        ng-attr-class="{{(node.type() == 'andx') ? (node.selected() && 'selected-node-rect' || (node == mouseOverNode && 'mouseover-node-rect' || 'node-rect')) : 'hide'}}"
        >
        <line transform="translate(-319.81134, -408.43105)"
           x1="319.81134"
           y1="423.23495"
           x2="349.22552"
           y2="423.23495" />
        <line transform="translate(-319.81134, -408.43105)"
           x1="424.47531"
           y1="438.07639"
           x2="452.90503"
           y2="438.07639" />
        <path transform="translate(-319.81134, -408.43105)"
           fill="url(#nodeBackgroundGradient)"
           d="m 349.53754,408.43105 c 14.83511,0 29.67036,0 44.50547,0 2.19814,0 4.67104,0.27472 7.41727,0.82417 2.74767,0.54946 5.4939,1.64831 8.21711,3.29677 2.74767,1.62343 5.4939,4.12093 8.24157,7.39267 2.74767,3.29662 4.67103,7.16782 5.76866,11.53848 1.0989,4.39555 1.0989,8.79124 0,13.18679 -1.09889,4.39556 -3.02243,8.24172 -5.76866,11.53849 -2.74767,3.27174 -5.4939,5.74421 -8.24157,7.41755 -2.72178,1.62343 -5.46944,2.72235 -8.21711,3.27174 -2.74767,0.54945 -5.21913,0.82419 -7.41727,0.82419 -2.19813,0 -10.16494,0 -23.90112,0 -13.73691,0 -20.60435,0 -20.60435,0 0,0 0,-9.89017 0,-29.67032 l 0,-29.62037 z" />
        <line transform="translate(-319.81134, -408.43105)"
           y2="452.91745"
           x2="349.22552"
           y1="452.91745"
           x1="319.81134" />

           <g
             ng-repeat="connector in node.inputConnectors"
             ng-mousedown="connectorMouseDown($event, node, connector, $index, true)"
             class="connector input-connector"
             >
             <circle
               ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector-circle' || 'connector-circle'}}"
               ng-attr-r="{{connectorSize}}"
               ng-attr-cx="{{connector.x()}}"
               ng-attr-cy="{{connector.y()}}"
               />
           </g>

           <g
             ng-repeat="connector in node.outputConnectors"
             >
             <text
               ng-attr-x="{{connector.x() - 20}}"
               ng-attr-y="{{connector.y() + 10}}"
               cursor="pointer"
               text-anchor="end"
               alignment-baseline="middle"
               >
               {{connector.label()}}
             </text>
           </g>

           <g
             ng-repeat="connector in node.inputConnectors"
             >
             <text
               ng-attr-x="{{connector.x() + 20}}"
               ng-attr-y="{{connector.y()}}"
               cursor="pointer"
               text-anchor="left"
               alignment-baseline="middle"
               >
               {{connector.label()}}
             </text>
           </g>

           <g
             ng-repeat="connector in node.outputConnectors"
             ng-mousedown="connectorMouseDown($event, node, connector, $index, false)"
             class="connector output-connector"
             >
             <circle
               ng-attr-class="{{connector == mouseOverConnector && 'mouseover-connector-circle' || 'connector-circle'}}"
               ng-attr-r="{{connectorSize}}"
               ng-attr-cx="{{connector.x()}}"
               ng-attr-cy="{{connector.y() + 10}}"
               />
           </g>
         </g>
    </g>
   <!-- AND GATE -->

  <g>
    <g
      ng-repeat="connection in chart.connections"
      class="connection"
      ng-mousedown="connectionMouseDown($event, connection)"
      >
        <path
          ng-attr-class="{{connection.selected() && 'selected-connection-line' || (connection == mouseOverConnection && 'mouseover-connection-line' || 'connection-line')}}"
          ng-attr-d="M {{connection.sourceCoordX()}}, {{connection.sourceCoordY() + 10}}
                     C {{connection.sourceTangentX()}}, {{connection.sourceTangentY() + 10}}
                       {{connection.destTangentX()}}, {{connection.destTangentY()}}
                       {{connection.destCoordX()}}, {{connection.destCoordY()}}"
          >
        </path>

      <text
            ng-attr-class="{{connection.selected() && 'selected-connection-name' || (connection == mouseOverConnection && 'mouseover-connection-name' || 'connection-name')}}"
        ng-attr-x="{{connection.middleX()}}"
        ng-attr-y="{{connection.middleY()}}"
        cursor="pointer"
        text-anchor="middle"
        alignment-baseline="middle"
        >{{connection.label()}}</text>

        <circle
            ng-attr-class="{{connection.selected() && 'selected-connection-endpoint' || (connection == mouseOverConnection && 'mouseover-connection-endpoint' || 'connection-endpoint')}}"
            r="3"
            ng-attr-cx="{{connection.sourceCoordX()}}"
            ng-attr-cy="{{connection.sourceCoordY() + 10}}"
            >
        </circle>

        <circle
            ng-attr-class="{{connection.selected() && 'selected-connection-endpoint' || (connection == mouseOverConnection && 'mouseover-connection-endpoint' || 'connection-endpoint')}}"
            r="3"
            ng-attr-cx="{{connection.destCoordX()}}"
            ng-attr-cy="{{connection.destCoordY()}}"
            >
        </circle>
    </g>
  </g>

  <g
    ng-if="draggingConnection"
    >
    <path
      class="dragging-connection dragging-connection-line"
      ng-attr-d="M {{dragPoint1.x}}, {{dragPoint1.y}}
                 C {{dragTangent1.x}}, {{dragTangent1.y}}
                   {{dragTangent2.x}}, {{dragTangent2.y}}
                   {{dragPoint2.x}}, {{dragPoint2.y}}"
      >
    </path>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="4"
        ng-attr-cx="{{dragPoint1.x}}"
        ng-attr-cy="{{dragPoint1.y}}"
        >
    </circle>

    <circle
        class="dragging-connection dragging-connection-endpoint"
        r="4"
        ng-attr-cx="{{dragPoint2.x}}"
        ng-attr-cy="{{dragPoint2.y}}"
        >
    </circle>
  </g>

  <rect
      ng-if="dragSelecting"
      class="drag-selection-rect"
      ng-attr-x="{{dragSelectionRect.x}}"
      ng-attr-y="{{dragSelectionRect.y}}"
      ng-attr-width="{{dragSelectionRect.width}}"
      ng-attr-height="{{dragSelectionRect.height}}"
    >
  </rect>

</svg>
